# --- ไฟล์ข้อมูลขนาดใหญ่ (ห้ามเอาขึ้น Git) ---
dataset/
*.wav
*.mp3
*.flac
*.tar.gz
*.zip
*.rar

# --- ไฟล์โมเดลที่เทรนเสร็จแล้ว (มักจะใหญ่) ---
*.h5
*.keras

# --- ไฟล์ขยะของ Python ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Environment (ถ้าสร้างไว้ในนี้) ---
gpu_env/
venv/
env/
.env